<section>

  <div>
    <img class="catalogueTitle" src="../assets/catalogue2.svg">
  </div>

  <div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-2">

          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-primary filterByType" id="dropdownBasic1" ngbDropdownToggle>Filter by
              type</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="filter('blades')">Blades</button>
              <button ngbDropdownItem (click)="filter('body')">Body</button>
              <button ngbDropdownItem (click)="filter('base')">Base</button>
              <button ngbDropdownItem (click)="filter('all')">All</button>
            </div>

            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Publish new piece</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>

              <div class="modal-body">
                <form>
                  <h6>Img: </h6> <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02" (change)="onChange($event)">
                    <label class="input-group-text" for="inputGroupFile02"></label>
                  </div><br>
                  <h6>Title: </h6><input type="text" class="inputs" #title><br><br>
                  <h6>Type: </h6><input type="text" class="inputs" #type><br><br>
                  <h6>Height:  </h6><input type="text" class="inputs" #height><br><br>
                  <h6>Resistance: </h6><input type="text" class="inputs" #resistance><br><br>
                  <h6>Material: </h6><input type="text" class="inputs" #material ><br><br>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="modal.close('Save click')" (click)="newPiece(title.value, type.value, material.value, height.value, resistance.value)">Publish</button>
              </div>
            </ng-template>
            <button class="btn btn-lg btn-primary btnModal" (click)="open(content)">New Piece</button>
            <hr/>
            <pre>{{ closeResult }}</pre>
          </div>




        </div>
        <div class="col-12 col-md-10">
          <div class="row">


            <div *ngFor="let i of showPieces" class="col-12 col-sm-6 col-lg-4 mb-2" >
              <app-item-style [piece]="i" [delBtn]="true" (pieceDeletedEvent)="deletePiece(i)"></app-item-style>

            </div>

            

          </div>
        </div>
      </div>
    </div>
  </div>
</section>