.catalogueTitle{
    max-width: 75%;
    height: auto;
    
}
.filterByType{
    width: 180px;
}

.dropDown{
    width: 20px;
}
.btnModal{
    margin-top: 5px;
}

.itemDashboard{
    width: 1000px;
    height: 1500px;
}