<section>

  <div>
    <img  class="catalogueTitle" src="../assets/catalogue.png" >
  </div>

  <div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-2">

          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary filterByType" id="dropdownBasic1" ngbDropdownToggle>Filter by type</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="filter(0)">Blades</button>
              <button ngbDropdownItem (click)="filter(1)">Body</button>
              <button ngbDropdownItem (click)="filter(2)">Base</button>
              <button ngbDropdownItem (click)="filter(3)">All</button>
            </div>
          </div>
          
          


        </div>
        <div class="col-12 col-md-10">
          <div class="row">
            <div *ngFor="let i of filteredPieces" class="col-12 col-sm-6 col-lg-4 mb-2" id={{i.id}}>
              <app-item-style [piece]="i"></app-item-style>
            </div>
          </div>

        </div>
        </div>
      </div>
    </div>
</section>



    

