
<div class="example-container1"  cdkDropListGroup>
    <!-- <h2>To do</h2> -->
    <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary filterByType" id="dropdownBasic1" ngbDropdownToggle>Filter by type</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="filter('blades')">Blades</button>
              <button ngbDropdownItem (click)="filter('body')">Body</button>
              <button ngbDropdownItem (click)="filter('base')">Base</button>
              <button ngbDropdownItem (click)="filter('all')">All</button>
        </div>
      </div>
    <div
      cdkDropList
      #catalogueList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[bladesList, bodyList, baseList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let i of filteredPieces" cdkDrag>
        <app-item-style [piece]="i" ></app-item-style>
        </div>
    </div>
    
  </div>
  
  <div class="contairners">
    <h2>Blades</h2>
  
    <div
      cdkDropList
      #bladesList="cdkDropList"
      [cdkDropListData]="blades"
      [cdkDropListConnectedTo]="[catalogueList]"
      class="containersToCard"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of blades" cdkDrag>
        <app-item-style [piece]="item"></app-item-style>
      </div>
    </div>
  </div>
  <div class="contairners">
    <h2>Body</h2>
  
    <div
      cdkDropList
      #bodyList="cdkDropList"
      [cdkDropListData]="body"
      [cdkDropListConnectedTo]="[catalogueList]"
      class="containersToCard"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of body" cdkDrag><app-item-style [piece]="item" ></app-item-style></div>
    </div>
  </div>
  <div class="contairners">
    <h2>Base</h2>
  
    <div
      cdkDropList
      #baseList="cdkDropList"
      [cdkDropListData]="base"
      [cdkDropListConnectedTo]="[catalogueList]"
      class="containersToCard"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of base" cdkDrag><app-item-style [piece]="item" ></app-item-style></div>
    </div>
  </div>

  <div class="input-group">
    <input type="text" #nameInput  class="inputValidate" placeholder="Name" aria-label="Name">   
    <input type="text" #descriptionInput  class="inputValidate" placeholder="Description" aria-label="Description">
    <button type="submit" class="btn btn-primary btn-lg desingBtn" [disabled]="isLoading" (click)="addToValidate(nameInput.value, descriptionInput.value)"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i>{{button}}</button>
  </div>


