.logoUCU{
    padding: 0px 0 0;
    max-width: 100px;
    height: auto;
    width: 100%;
}

#navbar, .navbar, .navbar-nav, .nav-item, .nav-link, .navbar-collapse{
    background-color: #113c86!important;
    color: #F1F1F1 !important;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    
}