.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}

.logo{
    width: 400px;
}

@media (max-width: 450px) {
.h-custom {
height: auto;
}
}


.loginButton{
    padding-left: 2.5rem; 
    padding-right: 2.5rem;
}

.section{
  margin-top: -150px;  
}

.spinner-login{
    margin-top: 15px;
}

