ngb-carousel .wrapper {
    position: relative;
    height: 0;
    // padding-top: 55%; /* Keep ratio for 900x500 images */
    width: 100%;
  }
  
  ngb-carousel .wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


  .card{
   width: 350px;
   height: 350px;
    background-color:rgba(212, 207, 207, 0.902);
    margin-right: 10px;
    border: black 2px solid;
    border-radius: 20px;
    

  }



  .icons{
    text-align: center;
    color: #113c86;
  }