<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content> -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>

      <div *ngFor="let piece of showPieces">
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src={{piece.img}} />
          </ion-thumbnail>
          <ion-label>{{piece.material}}</ion-label>
        </ion-item>
      </div>

      
    </ion-list>
  </ion-card-content>
</ion-card>