.faiconstyle{
    margin: 0.5px 0.5px;
}

.doneList{
    padding-top: 200px;
    

}


.invalidList{
    padding-top: 200px;
    
}
.title{
    padding-left: 40px;
}
.toValList{
    padding-top: 40px;
    
    
    
}