<div class="table-responsive-lg">
  <table class="table  table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">By</th>
        <th scope="col">Description</th>
        <th scope="col">Valid</th>
      </tr>
    </thead>

    <tbody *ngFor="let w of toValidate">


      <tr>
        <th scope="row">{{toValidate.indexOf(w)}}</th>
        <td>{{w.by}}</td>
        <td>{{w.desData}}</td>
        <td>
          <button class="btn btn-dark faiconstyle" routerLink="/visualize" (click)="visualize(toValidate.indexOf(w))">
            <fa-icon [icon]="faEye"></fa-icon>
          </button>
          <button class="btn btn-success faiconstyle">
            <fa-icon [icon]="faCircleCheck"></fa-icon>
          </button>
          <button class="btn btn-danger faiconstyle">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody> 
  </table>

  <div *ngIf="visualizeB"> 
    <app-visualize [windmill]="toValidate[id]" ></app-visualize>
    
  </div>
</div>