.title{
    font-size: 100px;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    padding: 80px;
    
}

.dropDown{
    width: 20px;
}

.itemDashboard{
    width: 1000px;
    height: 1500px;
}