.card{
    width: 300px;
    height: 360px;
}

.card-img{
    width: 298px;
    height: 200px;
}

.card-body{
    width: 290px;
    height: 30px;
    text-align: left;
    margin-left: 4px;
    position: relative;
    
}

.delButton{
    position: relative;
    top: -30px;
    left: 230px;
    border: none;

}

.titleItem{
    width: 280px;
    height: 20px;
    margin-top: -10px;
}

.descriptionItem{
    padding-top: 10px;
}